/* You can add global styles to this file, and also import other style files */
.active{
  color: red;
}
.container-card{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  width: 250px;

}
.flex-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

}
